body {
  background-color: #fff8f2;
  width: 100%;
  height: 1126px;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
}

header {
  color: #1c0e0d;
  width: 100%;
  padding: 40px 0;

  /* FIXED NAV */

  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: 5;
}

.header-inner {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #18063c;
  width: 178.57px;
  height: 40px;
  display: block;
}

.menu {
  display: flex;
  gap: 48px;
  font-size: 18px;
}

.menu-last-el:last-child {
  margin-right: 141px;
}

.menu a {
  text-decoration: none;
  color: #1c0e0d;
  font-weight: 400;
}

.menu a:hover {
  color: #ff553e;
  transition: color 0.3s ease;
}

.navigation {
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 36px;
}

.button-login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: #ff553e;
  text-decoration: none;
}

.button-sign-up {
  justify-content: center;
  width: 133px;
  height: 60px;
  border-radius: 34px;
  border: none;
  background-color: #ff553e;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

.hero-section {
  min-height: 100dvh;
  background-image: url("/img/Group.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100vw;
  display: grid;
  place-items: center;

  /* POSISION */

  position: relative;
}

.hero-section-inner {
  max-width: 800px;
  margin-top: 320px;
  margin-bottom: 368px;
  position: relative;
}

.hero-section-inner::before,
.hero-section-inner::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section-inner::before {
  height: 157px;
  width: 135px;
  top: -80px;
  left: -159px;
  background-image: url("/img/clock.svg");
}

.hero-section-inner::after {
  height: 191px;
  width: 178px;
  bottom: -19px;
  right: -67px;
  background-image: url("/img/list-img.png");
}

.title-text {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  align-items: center;
  color: #1c0e0d;
  margin-bottom: 24px;

  /* POSITION */

  z-index: 2;
  position: relative;
}

.basic-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #40201e;
}

.button-start-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-start {
  font-family: "Poppins", sans-serif;
  border: none;
  margin-top: 68px;
  width: 240px;
  height: 76px;
  border-radius: 40px;
  background-color: #ff553e;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #ff4000;
  transition: color 0.3s ease;
}

/* IMG */

/* .img-clock {
  position: absolute;
  margin-top: 228px;
  left: 374px;
  z-index: 1;
} */

.underline-img {
  position: absolute;
  margin-top: 145px;
  margin-left: 8px;
  z-index: 1;
}

/* .mobile-screen1 {
  position: absolute;

  z-index: 2;
  width: 337.74px;
  height: 679.8px;
} */
